@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200 800;
    src: url("./assets/fonts/Manrope-VariableFont_wght.woff2") format("woff2");
}

@layer components {
    .card {
        @apply bg-white border border-light dark:bg-surface-dark dark:border-dark dark:hover:border-white/50 hover:border-slate-900/50 rounded-xl transition;
    }
}

@theme {
    --background-color-dark: #0a0a0a;
    --background-color-light: #f7f7f7;
    --background-color-surface-dark: #18181b;
    --border-color-dark: #27272a;
    --border-color-light: #e2e8f0;
    --color-accent-dark: #3b82f6;
    --color-accent-light: #155dfc;
    --font-manrope: "Manrope", sans-serif;
}
